
body{
  margin: 0;
  text-align: center;
  font-family: Raleway;
}

a {
  color: #11999E;
}

hr {
  border-style:none;
  border-top-color: #11999E;
  border-top-style: dotted;
  border-top-width: 5px;
  width: 10%;
}

h1{
  font-size: 4.5rem;
  color: #66BFBF;
  margin: 40px auto 0 auto;
}

h2 {
  font-size: 1.7rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  color: #11999E;
}

.bold {
  text-decoration: underline;
}

.profile {
  margin: 50px auto 75px auto;
  width: 50%;
}

.skill-img {
  width: 25%;
  margin:0 30px 30px 0;
  float: left;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.contact-me {
  margin-bottom: 50px;
}

.top-cloud {
  position: absolute;
  top: 5px;
  right: 20%;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

div.top-container {
  width: 100%;
  background-color: #E7F6F2;

  padding: 100px 0 0 0;
  margin: 0;
}

div.middle-container {
}

div.bottom-container {
  padding-top: 30px;
  background-color: #66BFBF;
}
